<div class='card' style='width: 18rem;'>
  <h5 class='card-title'>
    Login
  </h5>

  <form id='loginForm' class='card-body'>
    <div>
      <label for='usernameSignup'>
        Username
      </label>
      <input type='text' id='usernameLogin' />
    </div>
    <div>
      <label for='passwordSignup'>
        Password
      </label>
      <input type='text' id='passwordLogin' />
    </div>
    <button id='signupBtn' class='btn'>
      Login
    </button>
    <div>
      <h5>
        Dont have an account?
      </h5>
      <a type='button' href='/signup'>
        Signup Here
      </a>
    </div>
  </form>
</div>

<script src='/js/login.js'></script>