<div class='card' style='width: 18rem;'>
  <h5 class='card-title'>
    Signup
  </h5>

  <form id='signUpForm' class='card-body'>
    <div>
      <label for='usernameSignup'>
        Username
      </label>
      <input type='text' id='usernameSignup' />
    </div>
    <div>
      <label for='passwordSignup'>
        Password
      </label>
      <input type='text' id='passwordSignup' />
    </div>
    <button type="submit" id='signupBtn' class='btn'>
      Signup
    </button>
    <div>
      <h5>
        Already have an account?
      </h5>
      <a type='button' href='/login'>
        Login Here
      </a>
    </div>
  </form>
</div>

<script src='/js/signup.js'></script>